.add-product {
    box-sizing: border-box !important;
    width: 100% !important;
    max-width: 700px !important;
    padding: 30px 50px!important;
    margin: 20px 30px !important;
    border-radius: 6px !important;
    background: rgb(218, 217, 217) !important;
    height: 100vh !important;
}

.addproduct-itemfield p{
    width: 100% !important;
    color: #454545 !important;
    font-size: 16px !important;
    height: 20px;
    overflow-y: hidden;
}

.addproduct-itemfield input {
    width: 100% !important;
    height: 40px !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    padding-left: 7px !important;
    border: 1px solid #c3c3c3 !important;
    outline: none !important;
    color: #7b7b7b !important;
    font-family: 'Merriweather', serif;
    font-size: 14px !important;
}

.addproduct-price {
    display: flex !important;
    gap:40px;
}


.add-product-selector {
    padding: 10px;
    width: 150px;
    height: 40px;
    font-weight: 50px;
    color: #7b7b7b;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    font-size: 15px;
}

.add-product-img {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    margin-top: 10px;
    padding: 20px;
    background: white;
}

.add-product-btn{
    width: 100px;
    height: 40px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: white;
}

@media(max-width: 800px) {
    .add-product {
        margin: 20px !important;
        padding: 30px !important;
        width: auto !important;
        
    }
}
